---
layout: default
featured_image: /images/demo/demo-landscape.jpg
---

<section class="blog single">
	<div class="wrap">
                <article class="blog-post">
                        <div class="blog-post__header">
                                <h1>Biota</h1>
                        </div>
                        <div class="blog-post__content">
                                {% capture homepage_content %}{% include homepage.md %}{% endcapture %}
                                {{ homepage_content | markdownify }}
                        </div>
                </article>

                <hr/>

                <h3>Proyectos Recientes</h3>
                {% assign stickyprojects = site.projects | where: "in_homepage",true %}
		{% for project in stickyprojects limit:3 %}
                    {% include single-project.html project=project %}
		{% endfor %}
                <p><a class="button" href="/proyectos">Ver todos los proyectos</a></p>

                <hr/>

                <h3>Publicaciones Recientes</h3>
                {% assign stickyposts = site.posts | where: "in_homepage",true %}
		{% for post in stickyposts limit:3 %}
                    {% include single-post.html post=post %}
		{% endfor %}
                <p><a class="button" href="/blog">Ver todas las publicaciones</a></p>

	</div>

</section>

