---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #222831;
//$footer-background-color: #333;


.sidebar p {
  font-size: inherit !important;
}

.page__footer .fab {
  color: #fff !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
